<div class="text-center border border-dark border-right-0 border-left-0 border-bottom-0"
     style="margin:30px 0 60px 0; padding-top: 20px;
         font-family: helvetica, 微软雅黑, 'microsoft yahei', Verdana, Lucida, arial, sans-serif, 黑体; font-size: 12px">
    <div>
        违法和不良信息举报电话：4006-118-118 举报邮箱：service@mtime.com
    </div>
    <div>北京动艺时光网络科技有限公司Copyright 2006-2019 Mtime.com Inc. All rights reserved.</div>
    <div>京ICP证050715号网络视听许可证0108265号网络文化经营许可证广播电视节目制作经营许可证(京)字第1435号</div>
</div>