<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTimes</title>
    {% include 'meta.html' %}
</head>
<body>
<div class="container">

    {% include 'head.html' %}
    {% import 'macros.html' as macros %}

    <div class="clearfix">

        {% include 'right.html' %}

        <div style="margin:20px 20px 0 0">

            <span>
                <img class="float-left" style="margin-rigth:20px; width:100px; height:100px" src="{{ img_path() }}"/>
                <H1 style="margin-left:120px">{{ result.item.name }}</H1>
                <H2 style="margin: 0 0 20px 120px">  {{ title }}</H2>
            </span>


            {% for i in range(result.movies|length // 4 + 1) %}
                <div class="card-deck" style="margin-bottom: 20px">
                    {% for j in range(4) %}
                        {% if i * 4 + j < result.movies|length %}
                            {{ macros.movie_card(result.movies[i*4+j]) }}
                        {% else %}
                            <div class="card"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

    </div>
    {% include "foot.html" %}
</div>
</body>
</html>



